/*Custom skin for apartemanku.com*/

/*
1. Color
2. Navbar
3. Badge
4. Form

*/

/*== 1. Color ==*/

.bg-custom {
    background: #f85656;
}

.bg-footer {
    background: #222222;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:active,
.btn-lg:focus,
.btn:focus,
.btn-lg:active,
.btn:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ced4da;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

input[type="text"],
textarea {
    outline: none;
}


.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle, .btn-light:not(:disabled):not(.disabled).active {
    background: transparent;
    border: 1px solid #ced4da;
}

ul.typeahead li a:not(:disabled):not(.disabled) {
    font-family: 'Proxima-Bold';
    border: solid 1px rgb(151,151,151,0.2);
    background: transparent;
    color: #212529;
}

.btn-primary:not(:disabled):not(.disabled):active  {
    background-color: #f85656;
}

.btn-primary:not(:disabled):not(.disabled):focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*== 2. Navbar ==*/

.btn-custom-sb {
    font-family: 'Proxima-Semibold';
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    background-color: #f85656;
    border-color: transparent;
}

.btn-custom-sb:hover,
.btn-custom-sb:active {
    background-color: #f85656;
    border-color: transparent;
}

.btn-outline-custom {
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px #f85656;
    font-family: 'Proxima-Regular';
    color: #f85656;
    letter-spacing: 0.5px;
}

.btn-outline-custom:hover {
    background-color: #f85656;
    border-color: transparent;
}

.btn-custom-big {
    border: solid 1px transparent;
    border-radius: 25px;
    background: rgb(239, 35, 60, 0.2);
    color: #ef233c;
    border: none;
    -webkit-appearance: none !important;
    padding-left: 25px;
    font-family: 'Open-Bold';
    font-size: 14px;
}

.btn-custom-big:hover {
    background: rgb(239, 35, 60, 0.2);
    color: #ef233c;
}

.btn:hover,
.btn-lg:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.btn-facebook,
.btn-facebook:hover {
    background: #3b5998;
    border-color: transparent;
}

.btn-twitter,
.btn-twitter:hover {
    background: #4285f4;
    border-color: transparent;
}

/*== 3. Badge ==*/

.badge-custom {
    opacity: 0.4;
    border-radius: 13.5px;
    background-color: #ffffff;
    font-family: 'Proxima-Semibold';
    color: #000;
    font-size: 12px;
    letter-spacing: 0.6px;
    padding: 5px 15px 5px 15px;
}

/*== 4. Form ==*/
.btn-light {
    background: transparent;
    border: 1px solid #ced4da;
}
.btn-light:hover, .btn-light:focus {
    background: transparent;
    border: 1px solid #ced4da;
}
.bootstrap-select .dropdown-menu {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0;
}
.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
    background-color: #f85656;
    font-family: 'Proxima-Bold';
    border: none;
    outline: none;
}
.bootstrap-select .dropdown-menu li a {
    font-family: 'Proxima-Bold';
    border: solid 1px rgb(151,151,151,0.2);
    border-top: 0;
}